<hr />
<kendo-grid
  [data]="gridData | async"
  [kendoGridSelectBy]="'id'"
  (selectedKeysChange)="selectedKeysChange($event)"
  (edit)="editHandler($event)"
>
  <kendo-grid-column
    field="name"
    title="Name"
    [width]="200"
  ></kendo-grid-column>
  <kendo-grid-column field="username" title="Username"> </kendo-grid-column>
  <kendo-grid-column field="email" [title]="'Email'" [width]="200">
  </kendo-grid-column>
  <kendo-grid-column
    field="address.street"
    title="Address"
    [width]="150"
  ></kendo-grid-column>
  <kendo-grid-column
    field="address.suite"
    title="Suite"
    [width]="100"
  ></kendo-grid-column>
  <kendo-grid-column
    field="address.city"
    title="City"
    [width]="150"
  ></kendo-grid-column>
  <kendo-grid-column
    field="address.zipcode"
    title="Zipcode"
    [width]="150"
  ></kendo-grid-column>
  <kendo-grid-column
    field="address.geo.lat"
    title="Latitude"
    [width]="100"
  ></kendo-grid-column>
  <kendo-grid-column
    field="address.geo.lng"
    title="Longitude"
    [width]="100"
  ></kendo-grid-column>
  <kendo-grid-column
    field="phone"
    title="Phone"
    [width]="150"
  ></kendo-grid-column>
  <kendo-grid-column
    field="website"
    title="Website"
    [width]="150"
  ></kendo-grid-column>
  <kendo-grid-column title="Actions" [width]="150">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button class="k-button" routerLink="/users/user">
        <kendo-icon name="eye" size="medium"></kendo-icon>
      </button>
      <button class="k-button" routerLink="/welcome-screen">
        <kendo-icon name="trash" size="medium"></kendo-icon>
      </button>
      <button
        kendoGridEditCommand
        class="k-primary"
        (click)="isRowInfo($event)"
      >
        Edit
      </button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
