<hr />
<kendo-grid
  [data]="gridData | async"
  [kendoGridSelectBy]="'name'"
  (selectedKeysChange)="selectedKeysChange($event)"
  (edit)="editHandler($event)"
>
  <kendo-grid-column
    field="name"
    title="Name"
    [width]="200"
  ></kendo-grid-column>
  <kendo-grid-column field="username" title="Username" [width]="150">
  </kendo-grid-column>
  <kendo-grid-column field="email" [title]="'Email'" [width]="200">
  </kendo-grid-column>
  <kendo-grid-column
    field="address.street"
    title="Address"
    [width]="150"
  ></kendo-grid-column>
  <kendo-grid-column
    field="address.suite"
    title="Suite"
    [width]="100"
  ></kendo-grid-column>
  <kendo-grid-column
    field="address.city"
    title="City"
    [width]="150"
  ></kendo-grid-column>
  <kendo-grid-column
    field="address.zipcode"
    title="Zipcode"
    [width]="150"
  ></kendo-grid-column>
  <kendo-grid-column
    field="address.geo.lat"
    title="Latitude"
    [width]="100"
  ></kendo-grid-column>
  <kendo-grid-column
    field="address.geo.lng"
    title="Longitude"
    [width]="100"
  ></kendo-grid-column>
  <kendo-grid-column
    field="phone"
    title="Phone"
    [width]="150"
  ></kendo-grid-column>
  <kendo-grid-column
    field="website"
    title="Website"
    [width]="150"
  ></kendo-grid-column>
  <kendo-grid-column title="Actions" [width]="150">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button
        kendoGridEditCommand
        class="k-button"
        routerLink="/users/user/{{ dataItem.id }}"
      >
        <span class="k-icon k-i-preview"></span>
      </button>
      <button kendoGridEditCommand class="k-button" routerLink="/users/albums">
        <span class="k-icon k-i-image" size="medium"></span>
      </button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
