<div class="posts-container">
  <ng-container *ngFor="let userpost of this.userpostsByID">
    <kendo-card class="card" style="width: auto; margin: 20px">
      <kendo-card-header
        class="card-header"
        style="
          display: flex;
          justify-content: space-between;
          font-size: 15px;
          font-weight: bold;
          color: rgb(121, 173, 190);
        "
      >
        <p>
          {{ userpost.title }}
        </p>
        <p>ID: {{ userpost.id }}</p>
      </kendo-card-header>
      <kendo-card-body>
        {{ userpost.body }}
      </kendo-card-body>
    </kendo-card>
  </ng-container>
</div>
