<div class="posts-container">
  <ol style="list-style-type: none">
    <ng-container *ngFor="let userpost of this.userpostsByID">
      <li style="border-style: inset; margin: 10px">
        <div>
          <span
            style="
              font-size: 20px;
              margin: 10px;
              display: flex;
              justify-content: space-between;
            "
            ><div>
              {{ userpost.title }}
            </div>
            <div>ID: {{ userpost.id }}</div>
          </span>
          <div>
            <p style="margin: 10px">{{ userpost.body }}</p>
          </div>
        </div>
      </li>
    </ng-container>
  </ol>
</div>
