<h2>Albumi</h2>

<div class="example-wrapper">
  <p>Dropdownlist</p>
  <kendo-dropdownlist [data]="data"> </kendo-dropdownlist>
</div>

<div class="posts-container">
  <ng-container *ngFor="let album of this.albums">
    <kendo-card class="card" style="width: auto; margin: 20px">
      <kendo-card-header
        class="card-header"
        style="
          display: flex;
          justify-content: space-between;
          font-size: 15px;
          font-weight: bold;
          color: rgb(121, 173, 190);
        "
      >
        <p>
          {{ album.title }}
        </p>
        <p>albumID: {{ album.id }}</p>
      </kendo-card-header>
      <kendo-card-body>
        <button
          class="k-button"
          routerLink="/users/albums/photos/{{ album.id }}"
        >
          <span class="k-icon k-i-image" size="medium"></span>
        </button>
        <!-- <app-album></app-album> -->
      </kendo-card-body>
    </kendo-card>
  </ng-container>
</div>
