<div class="main">
  <div class="user-details-container">
    <h2>Uporabnik</h2>
    <div class="input-container">
      <p>Name</p>
      <kendo-textbox style="margin: 10px" placeholder="{{ user.name }}">
      </kendo-textbox>
    </div>
    <div class="input-container">
      <p>Username</p>
      <kendo-textbox style="margin: 10px" placeholder="{{ user.username }}">
      </kendo-textbox>
    </div>
    <div class="input-container">
      <p>Email</p>
      <kendo-textbox style="margin: 10px" placeholder="{{ user.email }}">
      </kendo-textbox>
    </div>
    <div class="input-container">
      <p>Street</p>
      <kendo-textbox
        style="margin: 10px"
        placeholder="{{ user.address.street }}"
      >
      </kendo-textbox>
    </div>
    <div class="input-container">
      <p>Suite</p>
      <kendo-textbox
        style="margin: 10px"
        placeholder="{{ user.address.suite }}"
      >
      </kendo-textbox>
    </div>
    <div class="input-container">
      <p>City</p>
      <kendo-textbox style="margin: 10px" placeholder="{{ user.address.city }}">
      </kendo-textbox>
    </div>
    <div class="input-container">
      <p>Zipcode</p>
      <kendo-textbox
        style="margin: 10px"
        placeholder="{{ user.address.zipcode }}"
      >
      </kendo-textbox>
    </div>
    <div class="input-container">
      <p>Latitude</p>
      <kendo-textbox
        style="margin: 10px"
        placeholder="{{ user.address.geo.lat }}"
      >
      </kendo-textbox>
    </div>
    <div class="input-container">
      <p>Longitude</p>
      <kendo-textbox
        style="margin: 10px"
        placeholder="{{ user.address.geo.lng }}"
      >
      </kendo-textbox>
    </div>
    <div class="input-container">
      <p>Phone</p>
      <kendo-textbox style="margin: 10px" placeholder="{{ user.phone }}">
      </kendo-textbox>
    </div>
    <div class="input-container">
      <p>Website</p>
      <kendo-textbox style="margin: 10px" placeholder="{{ user.website }}">
      </kendo-textbox>
    </div>
    <button class="k-button" routerLink="/users">Nazaj</button>
  </div>

  <div class="posts">
    <h2>Komentarji</h2>
    <app-user-posts></app-user-posts>
  </div>
</div>
